<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>TM Resource Tracker</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Goldman&text=ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789%2B-"/>
</head>
<body>
<div class="main">

    <div class="navbar">
        <div class="navbar--container">
            <div class="navbar--item navbar--logo">RESOURCE TRACKER</div>
            <button onclick="resetStates.call(this, event)"
                    class="navbar--item number navbar--button">
                RESET
            </button>
            <button class="navbar--item number navbar--button">ABOUT</button>
        </div>
    </div>
    <div class="resources">
        <div class="resources--container">
            <div class="resource resource__points">
                <div class="resource--container">
                    <div class="resource--item">
                    </div>
                    <div class="resource--item resource--icon bg__points">
                    </div>
                    <div onclick="setSelected.call(this, event, 'state', 'points')"
                         class="resource--item resource--buttons resource--state">
                        <label>
                            <input id="state_points"
                                   class="number number__counter" name="resource" value="20" readonly/>
                        </label>
                    </div>
                </div>
            </div>
            <% for (const [resource,] of Object.entries(resources)) { %>
                <div class="resource">
                    <div class="resource--container">
                        <div onclick="setSelected.call(this, event, 'production', '<%= resource %>')"
                             class="resource--item resource--item__production">
                            <div class="resource--production-bg">
                                <div class="resource--buttons bg__production">
                                    <label>
                                        <input id="production_<%= resource %>"
                                               class="number number__counter" name="resource" value="0" readonly/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="resource--item resource--icon bg__<%= resource %>">
                        </div>
                        <div onclick="setSelected.call(this, event, 'state', '<%= resource %>')"
                             class="resource--item resource--buttons resource--state">
                            <label>
                                <input id="state_<%= resource %>"
                                       class="number number__counter" name="resource" value="0" readonly/>
                            </label>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div class="toolbar">
        <div class="toolbar--container">
            <div class="toolbar--buttons-group">
                <div class="toolbar--buttons toolbar--buttons__plus">
                    <button onclick="setValue.call(this, event, 1)"
                            class="number toolbar--button toolbar--button__modifier">
                        +1
                    </button>
                    <button onclick="setValue.call(this, event, 5)"
                            class="number toolbar--button toolbar--button__modifier">
                        +5
                    </button>
                    <button onclick="setValue.call(this, event, 10)"
                            class="number toolbar--button toolbar--button__modifier">
                        +10
                    </button>
                </div>
                <div class="toolbar--buttons toolbar--buttons__minus">
                    <button onclick="setValue.call(this, event, -1)"
                            class="number toolbar--button toolbar--button__modifier">
                        -1
                    </button>
                    <button onclick="setValue.call(this, event, -5)"
                            class="number toolbar--button toolbar--button__modifier">
                        -5
                    </button>
                    <button onclick="setValue.call(this, event, -10)"
                            class="number toolbar--button toolbar--button__modifier">
                        -10
                    </button>
                </div>
            </div>
            <div class="toolbar--buttons toolbar--buttons__center">
                <button onclick="produce.call(this, event)"
                        class="number toolbar--button">PRODUCE
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
